<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Buy vs Rent</title>

    <link rel="stylesheet/less" type="text/css" href="styles.less" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-JavaScript-Templates/3.11.0/js/tmpl.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.11.0/d3.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/2.7.3/less.min.js"></script>
  </head>
  <body>
    <div id="app">
      <svg height="600" width="1000"></svg>
      <div class="flex">
        <div class="table"></div>
        <div class="net_worth rent">
          <svg></svg>
        </div>
        <div class="net_worth buy">
          <svg></svg>
        </div>
      </div>
    </div>
    <script type="text/x-tmpl" id="table">
      <table>
        <tr><td>Income (y):</td><td>{%= numeral(o.opts.income).format('$0a') %}</td></tr>
        <tr><td>Property value:</td><td>{%= numeral(o.opts.property_value).format('$0a') %}</td></tr>
        <tr><td>Rent (m):</td><td>{%= numeral(o.opts.rent).format('$0,0') %}</td></tr>
        <tr><td>Expenses (m):</td><td>{%= numeral(o.opts.expenses).format('$0,0') %}</td></tr>
        <tr><td>Samples:</td><td>{%= numeral(o.opts.samples).format('0,0') %}</td></tr>

        {% if (o.purchase.rate) { %}
          <tr>
            <td>Property purchases:</td>
            <td>{%= o.purchase.rate %}% (mortgage &asymp; {%= numeral(o.purchase.mortgage).format('$0a') %})</td>
          </tr>
        {% } %}
        {% if (o.defaults.rate) { %}
          <tr>
            <td>Mortgage defaults:</td>
            <td>{%= o.defaults.rate %}% (> {%= numeral(100 * o.defaults.mortgage_rate).format('0.0') %}%)</td>
          </tr>
        {% } %}
      </table>
    </script>
    <script>
      d3.json(`data.json?${+new Date}`, (data) => {
        const colors = { rent: 'sunglow', buy: 'neptune' };

        // Table.
        document.querySelector('.table').innerHTML = tmpl('table', data);

        // Net worth account split.
        ['rent', 'buy'].map(k => {
          const svg = d3.select(`.net_worth.${k} svg`),
              width = 0.75 * document.querySelector('.flex').clientWidth / 3,
              height = width,
              radius = Math.min(width, height) / 2,
              g = svg.attr('width', width).attr('height', height)
                .append("g")
                  .attr("transform", `translate(${width / 2},${height / 2})`);

          // Acounts to opacity.
          const opa = {
            'house': 1,
            'rrsp': 0.8,
            'personal': 0.6,
            'cash': 0.2
          };

          const pie = d3.pie()
            .sort(null)
            .value(d => d[1]);

          const path = d3.arc()
            .outerRadius(radius - 10)
            .innerRadius(0);

          const label = d3.arc()
            .outerRadius(radius - 80)
            .innerRadius(radius - 80);

          const arc = g.selectAll(".arc")
            .data(pie(data.net_worth[k]))
            .enter().append("g")
              .attr("class", "arc");

          arc.append("path")
            .attr("d", path)
            .attr("class", `fill ${colors[k]}`)
            .attr("fill-opacity", d => opa[d.data[0]]);

          arc.append("text")
              .attr("transform", d => `translate(${label.centroid(d)})`)
              .attr("dy", "0.35em")
              .text(d => `${Math.round(d.data[1] * 100)}% ${d.data[0]}`);
        });

        // Chart itself.
        let height = 600, width = 1000;
        const margin = { 'top': 20, 'right': 20, 'bottom': 20, 'left': 70 };
        width -= margin.left + margin.right;
        height -= margin.top + margin.bottom;

        const svg = d3.select('svg')
        const g = svg.append("g").attr("transform", `translate(${margin.left},${margin.top})`);

        const x = d3.scaleLinear()
          .rangeRound([0, width]);
        const y = d3.scaleLinear()
          .rangeRound([height, 0]);

        const line = d3.line()
          .x((d, i) => x(i + 1)) // years
          .y(d => y(d)); // $
        const area = d3.area()
          .x((d, i) => x(i + 1))
          .y0(d => y(d[0]))
          .y1(d => y(d[2]));

        x.domain([1, data.opts.years]);
        y.domain([0, Math.max(
          data.buy[data.opts.years - 1][2],
          data.rent[data.opts.years - 1][2]
        )]); // use Q3 for max value

        g.append("g")
          .attr("transform", `translate(0,${height})`)
          .call(d3.axisBottom(x).ticks(data.opts.years))
          .append("text")
            .attr("x", x(data.opts.years))
            .attr("y", -10)
            .attr("dx", "0.71em")
            .attr("text-anchor", "end")
            .text("Years");

        g.append("g")
          .call(d3.axisLeft(y).tickFormat(d => numeral(d).format('$0.0a')))
          .append("text")
            .attr("transform", "rotate(-90)")
            .attr("y", 6)
            .attr("dy", "0.71em")
            .attr("text-anchor", "end")
            .text("Net Worth ($)");

        ['rent', 'buy'].map(k => {
          // Quantiles.
          [0, 2].map(q => {
            g.append("path")
              .datum(data[k].map(d => d[q]))
              .attr("fill", "none")
              .attr("class", `stroke ${colors[k]}`)
              .attr("stroke-width", 1.5)
              .attr("d", line);
          });
          // Fill the area.
          g.append("path")
            .datum(data[k])
            .attr("class", `fill ${colors[k]}`)
            .attr("fill-opacity", 0.07)
            .attr("d", area);
          // Medians.
          g.append("path")
            .datum(data[k].map(d => d[1]))
            .attr("fill", "none")
            .attr("class", `stroke ${colors[k]}`)
            .attr("stroke-dasharray", '5, 10')
            .attr("stroke-opacity", 0.6)
            .attr("stroke-width", 1.5)
            .attr("d", line);
          // Labels.
          g.append("text")
            .attr("x", x(data.opts.years))
            .attr("y", y(data[k][data.opts.years - 1][1]))
            .attr("dy", "0.71em")
            .attr("text-anchor", "end")
            .text(`${numeral(data[k][data.opts.years - 1][1]).format('$0.00a')} (${k})`);
        });
      });
    </script>
  </body>
</html>
